[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "dwm-ma"]
	path = dwm-ma
	url = https://github.com/J0ySF/dwm-ma
[submodule "Spatial_Audio_Framework"]
	path = Spatial_Audio_Framework
	url = https://github.com/leomccormack/Spatial_Audio_Framework
